<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<p>Today is <%= Time.now.strftime('%A') %>.</p>
<p>

<ol>
 <% @students.each do |x| %>
   <li> <%= x['name'] %> 
    </li>
        <% end %>
    </ol> 
    
</p>

</body>
</html>