main {
    position: absolute;
    margin-left: 38%;
    margin-top: 17%;
}

#octopus {
    position: absolute;
}
#hat {
    position: inherit;
    left: -10px;
    bottom: 10px;
}
#glasses {
    position: relative;
    top: 80px;
    left: 43px;    
}